name: verify-checksums

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  verify:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Verify checksums
        shell: pwsh
        run: |
          ./tools/Update-Checksums.ps1 -Check

